<nav class="navbar navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/meeps.png" alt="" width="30" height="24" class="d-inline-block align-text-top mr-2">
      MEEPS
    </a>
    
  </div>
</nav>  