{% extends layout %}
{% block  content %}

            <form action="/meeps/{{meep.id}}" method="POST">
                <div class="mb-0">
                    <label for="meep"></label>
                    <div class="input-group mb-0 w-100">
                        <input type="meep" name="meepid" id="meep" value="{{ meep.body }}" placeholder='Edit your meep...' required>
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Edit</button>
                        </div>
                    </div>
                </form>


{% endblock %}  