{% extends layout %}
{% block content %}
    <main class="container">
        <ul class="list-group">
            <form action="/meeps" method="post">
                <div class="mb-0">
                    <label for="meep"></label>
                    <div class="input-group mb-0 w-100">
                        <input type="meep" name="meep" id="meep" value="{{ meep }}" placeholder='Write a meep' required>
                            <button class="btn btn-outline-secondary ö" type="submit" id="button-addon1">Post</button>
                        </div>
                    </div>
                    
                </form>
                {% for meep in meeps %}
                    <div class="card">
                        <div class="card-header">
                            {{ meep.body }}
                            <a href="/meeps/{{ meep.id }}/delete" class="btn btn-danger float-end">
                                Delete
                            </a>
                        </li>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ meep.body }}</p>
                            <footer class="blockquote-footer">{{ meep.created_at }}
                            </footer>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}</main>